.form-add-track{
    text-align: center;
}

.name-input{

}

.name-label{
    margin-top: 25px;
}

.author-input{

}

.author-label{
    margin-top: 25px;
}

.album-label{
    margin-top: 25px;
}

.album-input{

}

.form-track-input{
margin-top: 25px;
}
